
.idea/workspace.xml
.idea/vcs.xml
.idea/other.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/copilot/chatSessions/xd.lck
.idea/copilot/chatSessions/blobs/version
.idea/copilot/chatSessions/00000000000.xd
